<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="../styles/about.css" >
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="icon" type="image/x-icon" href="/assets/android-chrome-192x192.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">



  </head>
  <body>
    <header style="position: fixed; top: 0; left: 0; right: 0; z-index: 999;">
      <nav class="navbar">
          <div class="nav-title">
              <span>Seat&Eat</span>
          </div>
          <div class="nav-content">
              <ul>
                  <li><a href="../index.html">HOME</a></li>
                  <li><a href="about.html">ABOUT</a></li>
                  <li><a href="Menu_food.html">MENU</a></li>
                  <li><a href="contact.html">CONTACT</a></li>
              </ul>
              <button class="btn order"><a href="#">ORDER</a></button>
          </div>
      </nav>
  </header>
    <main>
      <section class="about-us-section section">
        <div class="about-us-container container">
          <div class="about-us-col-img">
            <img class="about-us-image" src="../assets/about us.gif" />
          </div>
          <div class="about-us-col-text">
            <div class="about-us-heading">About us</div>

            <div class="about-us-desc">
              We welcome you to sit back, unwind and appreciate the lovely time with your loved ones while our best gourmet expert sets you up a scrumptious dinner utilizing the best and freshest ingredients.Our group takes pride in the way that we can furnish our new and faithful clients with extraordinary tasting cuisines that it would make your time memorable.
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
