<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="../styles/about.css" >
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/android-chrome-192x192.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/favicon.ico" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

  </head>
  <body>
    <header style="position: fixed; top: 0; left: 0; right: 0; z-index: 999;">
      <nav class="navbar">
          <div class="nav-title">
              <span>Seat&Eat</span>
          </div>
          <div class="nav-content">
              <ul>
                  <li><a href="../index.html">HOME</a></li>
                  <li><a href="about.html">ABOUT</a></li>
                  <li><a href="Menu_food.html">MENU</a></li>
                  <li><a href="contact.html">CONTACT</a></li>
                  <li><i id="close" class="fa-solid fa-xmark"></i></li>
              </ul>
              <button class="btn order"><a href="#">ORDER</a></button>
          </div>
          <div class="mobile">
            <i class="bar fa-solid fa-utensils"></i>
        </div>
      </nav>
  </header>
    <main>
      <section class="about-us-section section">
        <div class="about-us-container container">
          <div class="about-us-col-img">
            <img class="about-us-image" src="../assets/Eating-donuts-amico.png" />
          </div>
          <div class="about-us-col-text">
            <div class="about-us-heading">About us</div>

            <div class="about-us-desc">
              We welcome you to sit back, unwind and appreciate the lovely time with your loved ones while our best gourmet expert sets you up a scrumptious dinner utilizing the best and freshest ingredients.Our group takes pride in the way that we can furnish our new and faithful clients with extraordinary tasting cuisines that it would make your time memorable.
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
          <div class="about-us">
              <h2>About Us</h2>
              <p class="company-name">Seat&Eat</p>
              <p class="company-description">Where you will get various types of foods and find every meal is a happy meal.</p>
              <i class="fas fa-map-marker-alt"></i><span>Kalyani, Nadia, West Bengal</span>
              <br>
              <span>Pin - 741235</span>
          </div>
          <div class="contact-us">
              <h2>Contact Us</h2>
              <ul>
                  <li class="mobile-no"><i class="fas fa-phone-alt"></i><span>+91 7584912300</span></li>
                  <li class="whatsapp-no"><i class="fab fa-whatsapp"></i><span>+91 7584912300</span></li>
                  <li class="e-mail"><i class="fas fa-envelope">
                      </i><span><a href="mailto:dsc@kgec.edu.in">dsc@kgec.edu.in</a>
                  </li>
              </ul>
          </div>
          <div class="follow-us">
              <h2>Follow Us</h2>
              <div class="social-links">

                  <a class="facebook" href="#">
                      <i class="fab fa-facebook-f"></i></a>
  
                  <a class="linkedin" href="#">
                      <i class="fab fa-linkedin-in"></a></i>
  
                  <a class="youtube" href="#">
                      <i class="fab fa-youtube"></i></a>

                  <a class="youtube" href="#">
                      <i class="fab fa-instagram"></i></a>
                      
                  <a class="youtube" href="#">
                      <i class="fas fa-utensils"></i></a>
  
              </div>
          </div>
      </div>
      <div class="copyright">
          <p>© Copyright 2021 - Seat&Eat</p>
      </div>
  </footer>
  </body>
  <script src="../js/nav.js"></script>
</html>
