<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="../styles/about.css" />
  </head>
  <body>
    <main>
      <section class="about-us-section section">
        <div class="about-us-container container">
          <div class="about-us-col-img">
            <img class="about-us-image" src="../assests/Eating-donuts-amico.png" />
          </div>
          <div class="about-us-col-text">
            <div class="about-us-heading">About us</div>

            <div class="about-us-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
              magnam consectetur natus est corporis temporibus ipsa, neque
              nostrum commodi eligendi! Nesciunt, hic. Earum doloribus veniam
              nesciunt iure! Alias, fugiat. Ipsam natus eum in fugiat
              praesentium nihil rerum numquam! Modi, consectetur?
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
